<template name="Home">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">World War III</h1>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-home fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Build a Base</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>Start out as a rebel and become a world leader.</p>
          <p>Place your starting base somewhere in the real world according to <a href="https://maps.google.com" target="_blank">Google Maps</a> and build it up to renown proportions.</p>
          <p>Overthrow local governments or win their favor and become the new leader of your era.</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to work on your base
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-truck fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Acquire Resources</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>Wood, iron, stone, gold, oil, minerals, food, ...</p>
          <p>
            Resources are what drives your economy, they are the providers,
            they generate the means to do research, allow you to upgrade architecture,
            provide funding for troops, provision material for factories, ...
          </p>
          <p>Without resources you can close shop right away chummer!</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to gather resources
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-gears fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Research Technologie</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>Chemistry, physics, robotics, architecture, mechanics, ...</p>
          <p>
            Albert Einstein taught us that the true sign of intelligence is not knowledge but imagination.
            A pure fact without a doubt; if not for imagination, what would one research?
            Imagination ignites knowledge.
          </p>
          <p>Knowledge is power though... Research boosts power!</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to research technologies
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-male fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Train Troops</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>Ah the good old drafting of troops, trained to be elites.</p>
          <p>
            Without an army; people to operate your weaponry like tanks and aircraft your revolution will not last long.
            Unlock different troops by researching new technologies and turn your troops into specialist units.
          </p>
          <p>Your leader needs you to put your life on the line.</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to train your troops
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-bomb fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Build Weapons</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>A Mexican standoff or going for the win?</p>
          <p>
            The arms race will make you or break you. Agressor or defender, a bark or a bite?
            Demand respect from your adversaries and unlock new weaponry through research.
          </p>
          <p>Don't forget you need to train troops to operate the weapons though!</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to work new weapons
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-group fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Create Alliances</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>But you're going to need some friends...</p>
          <p>
            Real friends or by economic necessity alliances will help you in your time of need.
            Compensate your weakness and accentuate your strength, show your adversaries that you have
            nothing to fear.
          </p>
          <p>Be ever vigilant for shifting alliences!</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to create alliances
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-bank fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Build an Economy</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>The riches of the world, exploitation or collaboration?</p>
          <p>
            Raise taxes, stimulate production and consummation, trade with allies and enemies alike,
            hey business is business right? Education level of your population will be a great factor.
            Be weary of trade embargoes.
          </p>
          <p>Capitalist, communist... or something else entirely?</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to build up your economy
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-graduation-cap fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Educate Subjects</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to educate your population
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-pagelines fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="large">Master Diplomacy</div>
              <div>And conquer the world!!!</div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        </div>
        <div class="panel-footer">
          <a href="/base">Login or Register</a> to put your diplomats to work
        </div>
      </div>
    </div>

  </div>
</template>