<template name="Navigation">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    
    {{>NavbarHeader}}

    <ul class="nav navbar-top-links navbar-right">
      
      {{>NavbarMessages}}
      
      {{>NavbarTasks}}
      
      {{>NavbarNotices}}
      
      {{>NavbarUserSettings}}
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        
        {{>NavbarSideMenu}}
        
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>
</template>
